<window id="4">
	<defaultcontrol>1000</defaultcontrol>
	<controls>
		<include>DefaultBackground</include>
		<control type="label">
			<posx>0</posx>
			<posy>10</posy>
			<width>1920</width>
			<height>30</height>
			<label>[B]SETTINGS[/B]</label>
			<align>center</align>
			<textcolor>white</textcolor>
			<font>font30</font>
		</control>
		<control type="button" id="1000">
			<posx>10</posx>
			<posy>110</posy>
			<width>300</width>
			<height>30</height>
			<label>Appearance</label>
			<textcolor>lightorange</textcolor>
			<focusedcolor>lightorange</focusedcolor>
			<font>font30</font>
			<onclick>ActivateWindow(AppearanceSettings)</onclick>
		</control>
	</controls>
</window>
